:root {
    --primary: #3A3A3A;
    --primary-010: #2e2e2e;

    --second: #D8D3CC;
    --second-010: #CFCAC4;

    --grey: #666;

    --black: #000;
    --black-010: #00000080;

    --white: #f1f1f1;
    --white-010: #f5f5f5;

}